{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="{% static 'index.js' %}"></script>
</head>
<body>
    <h3>Hello, World!</h3>
    <p>This is a sample paragraph.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio eius alias ex aliquid quas adipisci libero quod tenetur ratione repellendus, harum, suscipit ad. Neque soluta quam et qui dolorem enim aliquam aut provident magni, voluptate corrupti placeat veritatis maxime rerum voluptatibus corporis obcaecati. Non impedit corrupti odio beatae blanditiis natus?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic ratione voluptatum pariatur maxime fugiat quaerat, suscipit repellendus ducimus nam expedita possimus id eligendi, quam aspernatur? Laboriosam molestiae dicta sint delectus veritatis quam necessitatibus sed unde. Optio qui quibusdam, totam perferendis fuga dolorem itaque quis aperiam fugit repellat est recusandae minus, sapiente nisi incidunt labore quos quod amet tenetur porro nesciunt eligendi. Praesentium cupiditate voluptate magni eius repellendus odit iure doloribus.</p>
</body>
</html>